/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {
    withName:GetLinks {
        container = "downloader-image"
    }
    withName:Download {
        container = "downloader-image"
        publishDir = [
            path: "${params.outdir}/downloader",
            enabled: params.save_all,
            mode: "copy"
        ]
    }
    withName:Downsample {
        container = "downloader-image"
        publishDir = [
            path: "${params.outdir}/downsample",
            enabled: params.save_all,
            mode: "copy"
        ]
    }
    withName:PyUMI {
        container = "pyumi-image"
        publishDir = [
            path: "${params.outdir}/pyumi",
            enabled: params.save_all,
            mode: "copy"
        ]
    }
    withName:CalibDedup {
        container = "calib_dedup-image"
        publishDir = [
            path: "${params.outdir}/calib_dedup",
            enabled: params.save_all,
            mode: "copy"
        ]
    }
    withName: "FastpMerge|FastpMockMerge" {
        container = "fastp-image"
        publishDir = [
            path: "${params.outdir}/fastp",
            enabled: params.save_all,
            mode: "copy"
        ]
    }
    withName:Vidjil {
        container = "vidjil-image"
        publishDir = [
            path: "${params.outdir}/vidjil",
            enabled: params.save_all,
            mode: "copy"
        ]
    }
    withName: "IgBlastFASTA|IgBlastFASTQ|IgBlastMockFASTQ" {
        container = "igblast-image"
        publishDir = [
            path: "${params.outdir}/igblast",
            enabled: params.save_all,
            mode: "copy"
        ]
    }
    withName:CDR3ErrorCorrector {
        container = "cdr3nt_error_corrector-image"
        publishDir = [
            path: params.outdir,
            mode: "copy"
        ]
    }
}
